/* @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500|Roboto:400,500&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Lato:500,900|Maven+Pro:400,500|Roboto:400,500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2, h3{
    font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
}

body, html{
    background-color: #e3e3e3;
    overflow-x: hidden;
}

ul, li{
    list-style: none;
}

.container{
    max-width: 1190px;
    padding: 0px 10px;
    width: 100%;
    margin: 0 auto;
}

.container-big{
    max-width: 1400px;
    padding: 0px 10px;
    width: 100%;
    margin: 0 auto;
}

/* intro section */

.intro{
    padding-bottom: 100px;
}

.intro .borders{
    position: relative;
    width: 100%;
    z-index: 0;
    margin-bottom: 200px;
}

.intro .borders .thin-border{
    border-bottom: 5px solid #e67e22;
}

.intro .borders .fat-border{
    border-bottom: 150px solid #ecf0f1;
}

.intro .portfolio-img{
    width: 100%;
}

.intro .portfolio-img img{
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 3%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.intro .details{
    text-align: center;
}

.intro .details h2{
    color: #34495e;
    font-size: 30px;
}

/* experience section */

.experience{
    background: #34495e;
    color: #fff;
    padding: 100px 0px;
}

.experience h2{
    text-align: center;
    margin-bottom: 45px;
}

.experience .blocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.experience .block{
    text-align: center;
    width: 33%;
}

.experience .block .svg-img{
    margin-bottom: 30px;
}

.experience .block .title{
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-bottom: 25px;
}

.experience .block li{
    color: #95a5a6;
    font-family: "Marven Pro", sans-serif;
    font-weight: 500;
    margin: 10px 0px;
}

.experience svg{
    width: auto;
    height: 100px;
    fill: #e67e22;
}

/* works section  */


.works{
    padding: 100px 0px;
    background-color: #ecf0f1;
}
.works .title h2{
    text-align: center;
    color: #e67e22;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 40px;
}

.works .description{
    text-align: center;
    font-size: 25px;
    color: #97a2a3;
    font-family: "Marven Pro", sans-serif;
    margin-bottom: 50px;
}

.works .portfolio-pages .page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page .img img{
    width: 800px;
    height: auto;
}